body {
  background-color: #202733;
  display: grid;
  place-items: center;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
  margin-top: 223px;
  width: 540px;
  height: 332px;

  background-color: #313a48;
  border-radius: 15px;
}
.adviceContainer {
  height: 130px;
  padding: 0px 20px;
}

.head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 4.08571px;

  color: #53ffaa;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;

  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;

  /* Light Cyan */

  color: #cee3e9;
}

.lineLogo {
  display: flex;
  margin-top: 40px;
  margin-bottom: 79px;
}

.leftLine {
  margin-left: 48px;
  margin-right: 16px;
}

.rightLine {
  margin-left: 16px;
}

.button {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #53ffaa;
  display: grid;
  place-items: center;
  position: absolute;
  top: 90%;
  left: 44%;
}

.button:hover {
  background: #53ffaa;
  box-shadow: 0px 0px 40px #53ffaa;
}

@media (max-width: 375px) {
  .container {
    width: 351px;
  }
  p {
    font-size: 20px;
  }
  .leftLine {
    display: none;
  }
  .rightLine {
    display: none;
  }
  .lineLogo {
    justify-content: center;
    margin-left: 5px;
    display: none;
  }
  .button {
    left: 40%;
  }
}
